ADF/pipeline/Master_pipeline.json
{
	"name": "Master_pipeline",
	"properties": {
		"activities": [
			{
				"name": "copy_datalake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy_datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "copy_restapi_data",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy_restapi_data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "copy_sql_tables",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy_sql_tables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Refresh_Databricks_Notebook",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Refresh_Databricks_Notebook",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Layer_Name": "Raw"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "copy_datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy_restapi_data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Refresh_Databricks_Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy_sql_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.layer_names_to_run",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Refresh_Databricks_Notebook_All",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Refresh_Databricks_Notebook",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Layer_Name": {
										"value": "@item().layer_names_to_run",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"layer_names_to_run": {
				"type": "array",
				"defaultValue": "['Cleansed','Data_Quality_Cleansed','Mart']"
			}
		},
		"annotations": []
	}
}